<ion-header> 
  <ion-toolbar> 
    <ion-buttons> 
      <ion-back-button slot="start"></ion-back-button> 
      <ion-title text-center>Crea tu cuenta </ion-title> 
    </ion-buttons> 
  </ion-toolbar> 
</ion-header> 
<ion-content> 
  <ion-grid> 
    <ion-row> 
      <ion-col size="12"> 
        <h3>Ya casi estamos...</h3> 
      </ion-col>
      <br/> 
      <ion-col size="12" style="text-align: center;"> 
        <ion-item > 
          <ion-label position="floating">Contraseña:</ion-label> 
          <ion-input type="password" minlength="8" placeholder="Ingrese su contraseña"></ion-input> 
        </ion-item> 
        <p style="color:grey;font-size: small; text-align: left;margin-left: 20px;">Usa 8 o más caracteres con una combinación de letras y números</p>
        <br> 
        <ion-item > 
          <ion-label position="floating">Repetir contraseña: </ion-label> 
          <ion-input type="password" minlength="8" placeholder="Confirme su contraseña"></ion-input> 
        </ion-item> 
        <p style="color:grey;font-size: small; text-align: left;margin-left: 20px;">Las contraseñas deben ser iguales</p> 
      </ion-col> 
    </ion-row> 
  </ion-grid> 
  <ion-col > 
    <ion-button  expand="block" style="margin: 10%;" color="primary" [routerLink]="['/home']">REGISTRARSE</ion-button>
  </ion-col> 
</ion-content>