<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>UniJobs</ion-title>
    <ion-buttons slot="end">
      
      <ion-menu-button menu="menu"><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
    
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="click()">
  <ion-buttons >
    <ion-searchbar animated ></ion-searchbar>
    <ion-button>
      <ion-icon name="filter-outline"></ion-icon>
   </ion-button>
  </ion-buttons>

  <ion-list>
    <ion-item *ngFor="let item of empleo">
      {{item.title}}
    </ion-item>
  </ion-list>
<!--
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 32 minutos</ion-card-subtitle>
        <ion-avatar style="width: 4px;">
          <img src="../../assets/img/paseomascota.png" alt="">
        </ion-avatar>
        <ion-card-title>Paseo de mascota</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align:left">
        <p>Se requiere persona que pueda realizar un paseo a mi mascota...</p>
        <br/>
        <ion-buttons slot="end" >
          <ion-button>
            <ion-icon name="eye-outline" [routerLink]="['/']"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header >
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 56 minutos</ion-card-subtitle>
          <img src="../../assets/img/manicure.jpg" alt="">
        <ion-card-title>Manicure</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Se busca persona con dispoción inmediata para manicure porfavor... </p>
        <br/>
        <ion-buttons slot="end" >
          <ion-button>
            <ion-icon name="eye-outline" [routerLink]="['/']"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 1 hora</ion-card-subtitle>
        <img src="../../assets/img/job3.jpg" alt="">
        <ion-card-title>Clean after party</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p>El día sábado haré una fiesta tremenda y necesitaré gente que limpie el lugar a la mañana siguiente, podemos discutir los términos...</p>
       <br/>
        <ion-buttons slot="end" >
          <ion-button>
            <ion-icon name="eye-outline" [routerLink]="['/']"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>   
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 2 horas</ion-card-subtitle>
        <img src="../../assets/img/job4.jpg" alt="">
        <ion-card-title>DJ</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Busco un buen dj que pueda tocar el día martes 28, no es un evento grande ni es necesario que sea un experto, postula y lo...</p>
        <br/>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="eye-outline" [routerLink]="['/']"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-list>
-->



</ion-content>
