<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 32 minutos</ion-card-subtitle>
        <img src="../../assets/img/job1.jpg" alt="">
        <ion-card-title>Fontanero</ion-card-title>
      </ion-card-header>
    
      <ion-card-content style="text-align:left">
        Se solicita fontanero con experiencia en la  instalación, reparación y mantenimiento de instalaciones de plomería doméstica...
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 56 minutos</ion-card-subtitle>
        <img src="../../assets/img/job2.jpg" alt="">
        <ion-card-title>Ayudante de panadero</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Se busca ayudante para panaderia familiar, la experiencia no es necesaria, pero debe tener ganas de aprender y una buena disposición...
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 1 hora</ion-card-subtitle>
        <img src="../../assets/img/job3.jpg" alt="">
        <ion-card-title>Clean after party</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       El día sábado haré una fiesta tremenda y necesitaré gente que limpie el lugar a la mañana siguiente, podemos discutir los términos...
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>   
        <ion-card-subtitle style="color: grey;margin-bottom: 10px;">Hace 2 horas</ion-card-subtitle>
        <img src="../../assets/img/job4.jpg" alt="">
        <ion-card-title>DJ</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Busco un buen dj que pueda tocar el día martes 28, no es un evento grande ni es necesario que sea un experto, postula y lo...
      </ion-card-content>
    </ion-card>




</ion-content>
