<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
      <ion-title>Crea tu cuenta </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
      </ion-col>
      <ion-col>  
        <ion-card>
          <ion-header>
          <ion-card-title>Registrate</ion-card-title>
          <ion-card-subtitle>Completa el formulario</ion-card-subtitle>
        </ion-header>
          <ion-card-content>
            <ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
