<ion-header >
  <ion-navbar >
    <ion-toolbar>
      <ion-title text-center>UniJobs</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
      </ion-col>
      <ion-col>
        <p>Gana experiencia, 
          Sé tu propio Jefe. </p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        <ion-button class="btn"expand="block" [routerLink]="['/registrarse']">Crear cuenta</ion-button>
        <br/>
        <ion-button color="light" expand="block" [routerLink]="['/login']">Iniciar Sesión</ion-button>
      </ion-col>
      <ion-col size="2">
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
