<ion-header >
  <ion-navbar >
    <ion-toolbar >
      <ion-title text-center >UniJobs</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
      </ion-col>
      <ion-col>
        <p>Gana tu propia experiencia. 
         </p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        <ion-button color="primary"expand="block" [routerLink]="['/registrarse']">Crear cuenta</ion-button>
        <br/>
        <ion-button color="light" expand="block" [routerLink]="['/login']">Iniciar Sesión</ion-button>
        <br/>
      
      </ion-col>
      <ion-col size="2">
        
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
