
ion-button{
    
    font-family: monospace;
    font-size: 1,9vmax;
    font-weight: bold;
    margin:5%;
    
}

p{
    font-family:sans-serif;
    font-size: 4vmax; 
    font-weight: bold;  
}